:root, :host, .spxThemeOverride, .max-width-container{
    --color_2: 0,0,0;
    --color_3: 237,28,36;
    --color_4: 0,136,203;
    --color_5: 255,203,5;
    --color_6: 114,114,114;
    --color_7: 176,176,176;
    --color_8: 255,255,255;
    --color_9: 114,114,114;
    --color_10: 176,176,176;
    --color_11: 255,255,255;
    --color_12: 240,240,240;
    --color_13: 194,194,194;
    --color_14: 110,110,110;
    --color_15: 0,0,0;
    --color_16: 209,212,209;
    --color_17: 165,169,166;
    --color_18: 94,98,95;
    --color_19: 80,84,81;
    --color_20: 40,42,40;
    --color_21: 191,204,212;
    --color_22: 135,157,169;
    --color_23: 101,118,127;
    --color_24: 67,78,84;
    --color_25: 34,39,42;
    --color_26: 221,217,211;
    --color_27: 188,182,175;
    --color_28: 154,144,133;
    --color_29: 103,96,89;
    --color_30: 51,48,44;
    --color_31: 212,209,211;
    --color_32: 168,165,168;
    --color_33: 125,120,124;
    --color_34: 83,80,83;
    --color_35: 42,40,41;
    --color_36: 255,255,255;
    --color_37: 0,0,0;
    --color_38: 227,227,227;
    --color_39: 151,151,151;
    --color_40: 79,79,79;
    --color_41: 56,74,211;
    --color_42: 0,0,0;
    --color_43: 151,151,151;
    --color_44: 255,255,255;
    --color_45: 0,0,0;
    --color_46: 0,0,0;
    --color_47: 79,79,79;
    --color_48: 56,74,211;
    --color_49: 56,74,211;
    --color_50: 255,255,255;
    --color_51: 255,255,255;
    --color_52: 56,74,211;
    --color_53: 56,74,211;
    --color_54: 151,151,151;
    --color_55: 151,151,151;
    --color_56: 255,255,255;
    --color_57: 255,255,255;
    --color_58: 56,74,211;
    --color_59: 56,74,211;
    --color_60: 56,74,211;
    --color_61: 56,74,211;
    --color_62: 255,255,255;
    --color_63: 255,255,255;
    --color_64: 151,151,151;
    --color_65: 151,151,151;
    --font_0: normal normal normal calc(74 * var(--theme-spx-ratio))/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --font_2: normal normal normal calc(64 * var(--theme-spx-ratio))/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    --font_3: normal normal normal calc(40 * var(--theme-spx-ratio))/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    --font_4: normal normal normal calc(20 * var(--theme-spx-ratio))/1.4em 'space grotesk',sans-serif;
    --font_5: normal normal normal calc(16 * var(--theme-spx-ratio))/1.4em 'space grotesk',sans-serif;
    --font_6: normal normal normal calc(14 * var(--theme-spx-ratio))/1.4em 'space grotesk',sans-serif;
    --font_7: normal normal normal 20px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
    --font_8: normal normal normal 17px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
    --font_9: normal normal normal 14px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
    --font_10: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --wix-ads-height: 30px;
    --sticky-offset: 30px;
    --wix-ads-top-height: 30px;
    --vh-unit: calc( (100vh - 30px) / 100);
    --site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --minViewportSize: 320;
    --maxViewportSize: 1920;
    --theme-spx-ratio: clamp(0.5px,(0.078125 * var(--one-unit)),(var(--section-max-width) / 1280));
    --scaling-factor: min((100 * var(--one-unit)), var(--section-max-width));
}

:root{
        --wst-button-color-fill-primary: rgb(var(--color_48));
    --wst-button-color-border-primary: rgb(var(--color_49));
    --wst-button-color-text-primary: rgb(var(--color_50));
    --wst-button-color-fill-primary-hover: rgb(var(--color_51));
    --wst-button-color-border-primary-hover: rgb(var(--color_52));
    --wst-button-color-text-primary-hover: rgb(var(--color_53));
    --wst-button-color-fill-primary-disabled: rgb(var(--color_54));
    --wst-button-color-border-primary-disabled: rgb(var(--color_55));
    --wst-button-color-text-primary-disabled: rgb(var(--color_56));
    --wst-button-color-fill-secondary: rgb(var(--color_57));
    --wst-button-color-border-secondary: rgb(var(--color_58));
    --wst-button-color-text-secondary: rgb(var(--color_59));
    --wst-button-color-fill-secondary-hover: rgb(var(--color_60));
    --wst-button-color-border-secondary-hover: rgb(var(--color_61));
    --wst-button-color-text-secondary-hover: rgb(var(--color_62));
    --wst-button-color-fill-secondary-disabled: rgb(var(--color_63));
    --wst-button-color-border-secondary-disabled: rgb(var(--color_64));
    --wst-button-color-text-secondary-disabled: rgb(var(--color_65));
    --wst-color-fill-base-1: rgb(var(--color_36));
    --wst-color-fill-base-2: rgb(var(--color_37));
    --wst-color-fill-base-shade-1: rgb(var(--color_38));
    --wst-color-fill-base-shade-2: rgb(var(--color_39));
    --wst-color-fill-base-shade-3: rgb(var(--color_40));
    --wst-color-fill-accent-1: rgb(var(--color_41));
    --wst-color-fill-accent-2: rgb(var(--color_42));
    --wst-color-fill-accent-3: rgb(var(--color_43));
    --wst-color-fill-accent-4: rgb(var(--color_44));
    --wst-color-fill-background-primary: rgb(var(--color_11));
    --wst-color-fill-background-secondary: rgb(var(--color_12));
    --wst-color-text-primary: rgb(var(--color_15));
    --wst-color-text-secondary: rgb(var(--color_14));
    --wst-color-action: rgb(var(--color_18));
    --wst-color-disabled: rgb(var(--color_39));
    --wst-color-title: rgb(var(--color_45));
    --wst-color-subtitle: rgb(var(--color_46));
    --wst-color-line: rgb(var(--color_47));
    --wst-font-style-h2: var(--font_2);
    --wst-font-style-h3: var(--font_3);
    --wst-font-style-h4: var(--font_4);
    --wst-font-style-h5: var(--font_5);
    --wst-font-style-h6: var(--font_6);
    --wst-font-style-body-large: var(--font_7);
    --wst-font-style-body-medium: var(--font_8);
    --wst-font-style-body-small: var(--font_9);
    --wst-font-style-body-x-small: var(--font_10);
}

@supports (container-type:inline-size) {
    :root {
        --one-unit: 1cqw;
    }
}

body, html {
    height: 100%;
}

body, html {
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    scroll-behavior: smooth;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
    animation-delay: var(--delay, 0s);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#comp-lj1fh653:target,
{
    --delay: 0s;
}

:root {
    view-transition-name: root;
}